<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%= "Team Name: #{@team}"%>
   <h1><%= "Coach: #{@coach}"%>
   <h1><%= "Point Guard: #{@point_guard}"%>
   <h1><%= "Shooting Guard: #{@shooting_guard}"%>
   <h1><%= @small_forward%>
   <h1><%= "Power Forward: #{@power_forward}"%>
   <h1><%= "Center: #{@center}"%>

 </body>
</html>


